body {
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 12px;
    font-family: Arial, Helvetica;
}

#main_page {
    height: 100vh;
    color: black;
}

#main_elements,
.overlay #contact_page {
    position: relative;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 24em;
    top: 45%;
    margin-top: -14em;
}

#horizontal_div {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: 0.2vw;
    position: absolute;
    margin-top: calc(1vh*15);
}

#main_elements {
    padding: 1em;
    h1 {
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    }
    h1 {
        font-weight: 300;
        color: white;
        font-size: 4em;
        line-height: 94%;
    }
    h2 {
        font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        color: #FFFFFF;
        font-size: 1.7em;
    }
}

canvas {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#main_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
}

#main_overlay,
canvas,
body {
    background-color: #0066FF; // Main color scheme based on this
}

.ui-autocomplete-loading {
    background: white url("/static/images/ui/ui-anim_basic_16x16.gif") right center no-repeat;
}

.afterloading_routes,
.loading_routes {
    display: none;
}

#aboutlink {
    position: absolute;
    top: 0px;
    right: 0px;
    margin-right: 1em;
    margin-top: 2em;
    a {
        color: #c6c6c6;
        font-size: 1.4em;
        font-family: HelveticaNeue;
        text-decoration: none;
    }
}

.invisibletext,
.invisibleselect {
    background-color: rgba(0, 0, 0, 0);
    border-bottom-color: #B5B5B5;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    text-align: start;
    text-shadow: none;
    -webkit-appearance: none;
    border-radius: 0;
    outline-color: rgb(255, 255, 255);
}

.invisibletext {
    max-width: 90%;
    width: 18em;
    display: inline-block;
}

.invisibleselect {
    max-width: 45%;
    width: 8em;
}

::-webkit-input-placeholder {
    font-size: 1em;
    font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #A8CBFF;
}

:-moz-placeholder {
    font-size: 1em;
    font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #A8CBFF;
}

::-moz-placeholder {
    font-size: 1em;
    font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #A8CBFF;
}

:-ms-input-placeholder {
    font-size: 1em;
    font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #A8CBFF;
}

#address,
#busrouteselect {
    font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 1.7em;
    color: #FFFFFF;
}

#busrouteselect option {
    color:#000000;
}


#viewbusbutton {
    margin-left: 3em;
}

#loadingroutestext {
    //text-transform: uppercase;
    font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: #A8CBFF;
    font-size: 1.7em;
}

#viewbusbutton {
    position: relative;
    vertical-align: top;
    width: 7em;
    height: 2.2em;
    padding: 0.01em;
    font-size: 1em;
    color: #454545;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #ecf0f1;
    border: 0;
    border-bottom: 2px solid #dadedf;
    cursor: pointer;
    box-shadow: inset 0 -2px #dadedf;
    box-shadow: inset 0 -2px #dadedf;
    -webkit-appearance: none;
    border-radius: 0;
}

#viewbusbutton:active {
    background: #ADADAD;
    top: 1px;
    outline: none;
    box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    border-radius: 0;
}